@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,700;1,300&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
/* google font import- Chakra Petch, Google Sans Code */

:root{
    --title-font: "Chakra Petch", sans-serif;
    --content-font:"Google Sans Code", monospace;
}
body{
    font-family: var(--content-font);
    font-size: small;
    width: 80%;
    margin:auto;
    padding: 20px;
    background-color: #a1bfaf;
    
}
h1{
    font-size: 40px;
    justify-self: left;
}
h2{
    font-size: 20px;
    justify-self: center;
}
div{
    border: 2px red solid;
}
img{
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
    display: block;
}
.navbar{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
/* .mainSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainSection div{
    justify-items: center;
    
    max-width: 400px;
}
.mainSection button{
    justify-content: center;
} */
/* using grid to have consistent columns where it will fit neatly
Where grid-container is used, add 2 grid-items to get up to 2 rows of content */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 1rem;
    max-width: 800px;
    margin: auto;
    justify-content: center;
}
.grid-item {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-break: break-word;
    padding: 1rem;
}

@media screen and (min-width: 800px) {
    body {
        font-size: medium;
    }
}

